.hero {
	background-color: white;
	padding: 60px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
}

.hero-text {
	flex: 1;
	padding-right: 40px;
}

.hero-text h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #1f2d3d;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 1rem;
	color: #6c757d;
	margin-bottom: 30px;
}

.cta-btn {
	display: inline-block;
	background-color: #c6b6fc;
	color: white;
	padding: 12px 24px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

li {
	display: flex;
	align-items: center;
}

.hero-image {
	flex: 1;
	display: flex;
	justify-content: center;
}

.hero-image img {
	max-width: 100%;
	height: auto;
}

.tool {
	cursor: pointer;
}

.grids {
	background: white;
	overflow: visible;
}

.grid-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	align-items: stretch;
}

.grid-item {
	background: #f7f8fc;
	padding: 40px 20px;
	text-align: center;
	border-radius: 15px;
	transition: transform 0.3s ease;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%
}

.grid-grid a {
	text-decoration: none;
	height: 100%; 
}

.grid-item:hover {
	transform: translateY(-10px);
	z-index: 2;
}

.grid-item .icon {
	margin-bottom: 20px;
	display: flex; 
	justify-content: center;
}

.grid-item img {
	width: 60px;
}

.grid-item h2 {
	margin-bottom: 15px;
	color: #333;
}

.grid-item p {
	font-size: 1rem;
	color: #777;
}

.items {
	background: #ffffff;
	padding-bottom: 0px;
}

.intro_text {
	padding: 0 0 60px 0;
	background-color: #fff;
	text-align: center;
}

.section-title {
	color: #1f2d3d;
	margin-bottom: 10px;
}

.section-subtitle {
	font-size: 1rem;
	color: #6c757d;
}

.icon_img {
	display: flex; 
	background-color: #c6b6fc; 
	width: 40px; 
	height: 40px; 
	display: flex; 
	justify-content: center; 
	align-items: center;
	border-radius: 8px; 
	color: white;
}

.collapsible_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.collapsible {
	width: calc(85% - 40px);
	background-color: white;
	cursor: pointer;
}

h2 button {
	all: inherit;
	border: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	background-color: #f7f8fc;
	margin-bottom: 40px;
	align-items: center;
	border-radius: 8px;
	color: #6c757d;
}

button svg {
	height: 1em;
	margin-left: 0.5em;
}

.answer {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 40px; 
	color: #6c757d;
}

[aria-expanded="true"] .vert {
	display: none;
}

[aria-expanded] rect {
	fill: currentColor;
}

.animate-drop {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.animate-drop.open {
    max-height: 1000px;
    opacity: 1;
}
