.inputField {
    min-width: 100%;
    background-color: #f7f8fc;
    border-radius: 8px;
    border: none;
    min-height: calc(100% - 40.9px - 60px);
    resize: none;
    padding: 25px; 
    box-sizing: border-box; 
    color: #6c757d;
    font-size: 1rem;
    border: 1px solid #c6b6fc;
}

.inputField:focus {
    outline: none !important;
}
