.inputFieldOne, .inputFieldTwo {
    min-width: 100%;
    background-color: #f7f8fc;
    border-radius: 8px;
    border: none;
    max-height: 49.6px;
    resize: none;
    padding: 25px; 
    box-sizing: border-box; 
    color: #6c757d;
    font-size: 1rem;
    border: 1px solid #c6b6fc;
}

.inputFieldThree {
    min-width: 100%;
    background-color: #f7f8fc;
    border-radius: 8px;
    border: none;
    min-height: calc(100% - 49.6px - 49.6px - 49.6px - 160px);
    resize: none;
    padding: 25px; 
    box-sizing: border-box; 
    color: #6c757d;
    font-size: 1rem;
    border: 1px solid #c6b6fc;
}

.inputFieldOne:focus, .inputFieldTwo:focus, .inputFieldThree:focus {
    outline: none !important;
}