.filler {
	width: calc(50vw - 90px);
	height: calc(100vh - 100.8px - 120px);
	border-radius: 8px;
	background-color: #f7f8fc;
	border: 1px solid #c6b6fc;
	display: flex;
	justify-content: start;
	flex-direction: column;
	overflow-y: auto;
	padding-top: 25px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filler_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}