.hero {
	background-color: white;
	padding: 60px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-text {
	flex: 1;
	padding-left: 60px;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
}

.hero-icon div {
	max-width: 100%;
	height: auto;
}

.container {
    width: 50%;
}