* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #333;
	line-height: 1.6;
}

.page_section {
	display: flex;
	justify-content: space-evenly;
	height: calc(100vh - 100.8px);
	align-items: center;
}


.input_space{
	width: calc(50vw - 90px);
	height: calc(100vh - 100.8px - 120px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filler {
	width: calc(50vw - 90px);
	height: calc(100vh - 100.8px - 120px);
	border-radius: 8px;
	background-color: #f7f8fc;
	border: 1px solid #c6b6fc;
	display: flex;
	justify-content: start;
	flex-direction: column;
	overflow-y: auto;
	padding-top: 25px;
}

.filler_content {
	width: 100%;
	height: calc(100% - 25px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: #ded7fc;
}

.submitBtn, #register, #login {
	display: flex;
	background-color: #c6b6fc;
	color: white;
	padding: 12px 24px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.container, .nav_container {
	width: 85%;
	margin: auto;
	overflow: visible;
	padding: 0 20px;
}

.nav_container {
	display: flex; 
	align-items: center; 
	justify-content: space-around;
}

header {
	background: white;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

header .logo img {
	width: 140px;
	display: flex; 
	align-items: center;
	width: 180px; 
	height: 60px;
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 25px;
}

header nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	cursor: pointer;
}

.site-footer {
	background-color: #f7f8fc;
	padding: 20px 0 20px;
	font-size: 1rem;
	color: #6c757d;
}

.site-footer h6 {
	color: #c6b6fc;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-top: 5px;
}

.site-footer p.text-justify {
	line-height: 1.6;
}

.footer-container {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.footer-column {
	flex: 1;
	margin: 0 10px;
	min-width: 200px;
}

.footer-links {
	list-style: none;
	padding-left: 0;
}

.footer-links li {
	margin-bottom: 10px;
}

.footer-links a {
	color: #6c757d;
	text-decoration: none;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	border-top: 1px solid #bbb;
	opacity: 0.5;
}

.copyright-text {
	margin: 0;
	color: #6c757d;
}

.social-icons {
	list-style: none;
	padding-left: 0;
	display: flex;
}

.social-icons li {
	margin-right: 10px;
}

.social-icons a {
	background-color: #c6b6fc;
	color: #6c757d;
	font-size: 16px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: background-color 0.2s;
	cursor: pointer;
}

@media (max-width: 900px) {
	body {
		display: none;
	}
}