textarea::placeholder, textarea {
    color: #6c757d;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.message, .ai, .user {
	display: flex;
	width: 100%;
	padding: 0px 25px 25px 25px;
	align-items: flex-start;
}

.pfp {
	display: flex;
	margin-right: 25px;
	width: 25.6px; 
	height: 25.6px;
	align-items: center;
	justify-content: center;
}

.pfp i {
	color: #c6b6fc;
}

.messageText {
	flex: 1;
}

.smallInput {
    min-width: 100%;
    background-color: #f7f8fc;
    border-radius: 8px;
    border: none;
    height: 49.6px;
    padding: 0 25px;
    box-sizing: border-box;
    color: #6c757d;
    font-size: 1rem;
    border: 1px solid #c6b6fc;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.largeInput {
    min-width: 100%;
    background-color: #f7f8fc;
    border-radius: 8px;
    border: none;
    min-height: calc(100% - 49.6px - 49.6px - 49.6px - 160px);
    resize: none;
    padding: 25px; 
    box-sizing: border-box; 
    color: #6c757d;
    font-size: 1rem;
    border: 1px solid #c6b6fc;
}

.smallInput:focus, .largeInput:focus {
    outline: none !important;
}

.inputLabel {
    color: #6c757d;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}